.search {
    display: flex;
    position: absolute;
    top: 10%;
    left: 1%;
    justify-content: space-between;
    height: 50px;
    width: 80%;
  }
  
.submitButton {
    border-radius: 20px;
    margin-left: 2px;
    background-color: gray;
    position: relative;
    height: 130% !important;
    width: 15% !important;
}