body{
  background: rgb(16,9,131);
  background: linear-gradient(336deg, rgba(16,9,131,1) 0%, rgba(22,22,187,1) 35%, rgba(0,212,255,1) 100%);
}

#root {
  margin: 0 auto; 
  text-align: center;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.search {
  display: flex;
  position: absolute;
  top: 10%;
  left: 1%;
  justify-content: space-between;
  height: 50px;
  width: 80%;
}

.submitButton {
  border-radius: 20px;
  margin-left: 2px;
  background-color: gray;
  position: relative;
  height: 130% !important;
  width: 15% !important;
}

.searchbar {
  border-radius: 10px;
  background-color: white;
  position: relative;
  font-size: 40px;
  height: 100% !important;
  width: 80% !important;
  top: 9px;
}

.favorites {
  display: flex;
  position: absolute;
  top: 20%;
  left: 0%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.searchbar {
  color: rgb(0, 0, 0);
  width: 40%;
  height: 20%;
  border-radius: 5px;
  padding: 5px;
}
