button.favourite {
    background-color: transparent;
    border: none; 
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex; /* Use flexbox layout for the container */
    align-items: center; /* Vertically center items within the container */
    justify-content: center; /* Horizontally center items within the container */
    margin-right: 10px;
}

button.favourite:hover{
    border: 1px solid black;
    background-color: transparent;
}

button.favourite:focus{
    outline: none;
}

img.favourite {
    height: 35px;
    width: 35px;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}


.favourites {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: 15px;
    color: black;
    overflow: auto;
}

header.favourite {
    display: flex;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 3.2em;
}

.favouriteForecast {
    display: flex;
    flex-direction: row;
}

.favouriteName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.favouriteElement {
    display: flex;
    flex-direction: column;
}
