button.favourite {
    background-color: transparent;
    border: none; 
    cursor: pointer; /* Optional: Change cursor to pointer on hover */
}

button.favourite:hover{
    border: 1px solid black;
    background-color: black;
}

button.favourite:focus{
    outline: none;
}

img{
    background-color: transparent;
}