.week {
    position: fixed;
    height: 250px;
    left: 2.5%;
    width: 95%;
    display: flex;
    flex-direction: row;
    background-color: #EFE7BC;
    border-radius: 10px;
    border: 1px #ffffff;
    overflow: hidden;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
  
.day {
    display: flex;
    position: relative;
    flex: 1 1 0;
    width: 0;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid black;
  }

.icon {
    display: flex;
    width: 75px;
    height: 75px;
}